/* Grid */
zing-grid {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  border: none;
  font-size: 13px;
  color: #212121;
}

zing-grid a {
  color: #2772a0;
}

zing-grid a:hover {
  color: #212121;
}

// zg-caption {
//   border: none;
//   background: #ccc;
//   color: #222222;
//   padding: 10px 0 0 0;
// }

zg-caption h1 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0 !important;
}

zg-caption h2 {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 0.5rem !important;
}

zg-cell {
  margin-right: 0px;
}

zg-control-bar {
  display: none;
}

zg-head {
  border-bottom: 2px solid black;
  letter-spacing: 0.5px;
}

zg-head,
zg-head-cell {
  font-size: 10px;
  text-transform: uppercase;
  background: white;
  align-items: flex-end;
}

zg-head-cell[depth='1'],
zg-head-cell[parent]:not([depth='1']) {
  padding-bottom: 5px;
}

zg-icon {
  max-width: 14px;
}

zg-row,
zg-cell {
  padding: 0 15px;
  height: 35px;
}

zg-cell:nth-child(1) {
  font-weight: bold;
}

zg-cell:nth-child(7) {
  text-align: center;
}

zg-cell.heat-map {
  background: #5ea8e5;
}

zg-row:last-child {
  border: none;
}
