$base-theme:Bootstrap;
$skin-name:code_fund_kendo;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #346cb0;
$secondary: #f6f7f9;
$info: #0179a8;
$success: #00a28a;
$warning: #f7c46c;
$error: #b76ba3;
$body-bg: #ffffff;
$body-color: #363642;
$component-bg: #ffffff;
$component-color: #363642;
$card-cap-bg: #ffffff;
$card-cap-color: #363642;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
