@import './components/datatables.scss';
@import './variables';
@import '~uikit/src/scss/variables-theme.scss';

#cf-navbar {
  background-color: #ffffff;
}

#cf-breadcrumbs {
  background-color: #f5f9ff;
  border-top: 2px solid #15003e;
  border-bottom: 1px solid #efefef;
  // padding-bottom: 10px;
  // padding-top: 10px;

  .uk-breadcrumb > li:nth-child(n + 2)::before {
    content: '⟩';
  }
}

#cf-subnav {
  border-bottom: 1px solid #efefef;
  padding-top: 0px;
  padding-bottom: 0px;

  .cf-subnav__text-menu,
  .cf-subnav__icon-menu {
    margin-bottom: -1px;
    line-height: 2rem;
    margin-top: 0px;
  }
}

#cf-actions {
  margin-top: 1rem;
  font-weight: bold;

  .uk-button {
    padding: 0 20px;
    margin-left: 3px;
  }

  .uk-button-muted-primary {
    background-color: #efefef;
    &:hover {
      background-color: $button-primary-background;
      color: $button-primary-color;
    }
  }

  .uk-button-muted-secondary {
    background-color: #efefef;
    &:hover {
      background-color: $button-secondary-background;
      color: $button-secondary-color;
    }
  }

  .uk-button-muted-danger {
    background-color: #efefef;
    &:hover {
      background-color: $button-danger-background;
      color: $button-danger-color;
    }
  }
}
