<div class="mb-6">
  <h1 class="font-weight-semi-bold"><%= [action, subject].join(" ") %></h1>
  <% if local_assigns[:subtitle] %>
    <p class="text-dark font-weight-normal mb-0" style="font-size: 1.125rem;"><%= subtitle %></p>
  <% end %>
</div>
