<nav id="cf-navbar" class="uk-navbar-container uk-box-shadow-small" uk-navbar>
  <div class="nav-overlay uk-navbar-left">
    <%= link_to image_tag("codefund-w.svg", height: 30), root_path, class: "uk-navbar-item uk-logo" %>
  </div>
  <div class="nav-overlay uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
      </li>
      <li class="uk-visible@s">
        <a>
          <%= user_avatar_image_tag(current_user, "uk-border-pill", 30) %>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>
      <li class="uk-hidden@s">
        <a href="#" uk-icon="icon: menu;" uk-toggle="target: #offcanvas-overlay"></a>
      </li>
    </ul>
  </div>
  <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
      </form>
    </div>
    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
  </div>
</nav>

