<section id="cf-subnav" class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container uk-container-expand">
    <ul class="cf-subnav__text-menu uk-flex-left uk-tab">
      <%= yield :subnav %>
    </ul>
  </div>
</section>
