<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/creatives" %>
  <%= render "/@shared/breadcrumbs/add_creative", class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Adding", "Creative",
    subtitle: "Fill out the form below",
    icon: "fas fa-palette" %>
<% end %>

<div class="bg-white p-4">
  <%= render "/creatives/form", creative: @creative %>
</div>