<table class="datatable uk-table uk-table-hover uk-table-striped uk-table-responsive">
  <thead>
    <tr>
      <th scope="col">Team</th>
      <th scope="col">Name</th>
      <th scope="col">Expires</th>
      <th scope="col">Budget</th>
      <th scope="col">Remaining</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/campaigns/tr", collection: campaigns, as: :campaign %>
  </tbody>
</table>
