<% content_for :breadcrumbs do %>
  <%= tag.li link_to "Campaigns", campaigns_path %>
  <%= tag.li link_to "Campaign", campaign_path(@campaign) %>
  <li><span>Settings</span></li>
<% end %>

<% content_for :subnav do %>
  <%= render "/@shared/admin/subnav/campaign", campaign: @campaign %>
<% end %>

<main id="content" role="main" class="uk-container uk-padding">
  <%= render "/campaigns/form", campaign: @campaign %>
</main>